{% extends 'AppBundle::base.html.twig' %}

{% block bodyView %}line{% endblock %}

{% block body %}
    <div data-js="line-page">
        <h1 class="g-unit card card--padded linebox" data-linebox="{{ line.URLkey }}" data-js="line-title">{{ line.name }}</h1>
        <div class="grid">
            <div class="g 1/2@xl 3/5@xxl">
            <div class="card">
                <div class="card__body card--padded"  data-js="line-status-panel">
                {% if line.latestStatus %}
                        <h2 class="g-unit">{{ line.latestStatus.title }}</h2>
                        {% if line.isDisrupted %}
                            {% for description in line.latestStatus.descriptions %}
                                <p class="g-unit">{{ description }}</p>
                            {% endfor %}
                        {% endif %}
                {% else %}
                    <h2>No Information</h2>
                {% endif %}
                </div>
                <div class="card__foot">
                    <p class="f card__foot-line">
                        <strong>Last updated:</strong>
                        <span data-js="line-updated">{{ line.latestStatus.updatedAtFormatted }}</span></p>
                </div>
            </div>
            </div>
            <div class="g 1/2@xl 2/5@xxl">
                <div class="card">
                    <div class="card__body">
                        <div class="card__intro">
                            <svg class="card__logo"><use xlink:href="#icon-alert" /></svg>
                            <h2 class="c card__heading">Notifications</h2>
                        </div>
                        <div class="card--padded" data-js="notifications-panel">
                            <p>Your browser does not support notifications. <a href="/settings#notifications">More info</a></p>
                        </div>
                    </div>
                    <div class="card__foot text--right">
                        <p class="f"><button class="btn" disabled  data-js="notifications-save">Save</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="g-unit card card--padded">
        <h2 class="g-unit">Service History</h2>
        <p>There have been <strong>32</strong> disruptions in the last 60 days</p>
    </div>-->
{% endblock %}
